<%= form_for(current_user.profile.relationships.build(follower_id:
	current_user.profile.id,followed_id: @profile.id)) do |f| %>
  <div><%= f.hidden_field :followed_id %></div>
  <%= f.submit "Follow" %>
<% end %>