<h1>Listing profiles</h1>

<table>
  <tr>
    <th>Full name</th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.full_name %></td>
    <td><%= link_to 'View profile', profile %></td>
  </tr>
<% end %>
</table>

<br />

