<div align = center>
	<h1>Welcome to Fakebook!!!</h1>
	<hr style="margin-left:5%;">
</div>

			<div id="login">
			
				<% if user_signed_in? %>
					<p align = center><b>Click, Edit your Account, your Profile or Logout, explore the resourses, have fun and Enjoy the Fakebook Social Network!</b></p>
					  	
				<% else %>
					<p align = center><b>Click, Make your login, explore the resourses, have fun and Enjoy the Fakebook Social Network!</b></p>
					
				<% end %>
			</div>
			<div id="imagem">
				<%= image_tag("home.png", :title=>"Welcome to Fakebook - Your FakeSocial Network!", :size=> "600x420")%>
			</div>