body {
  background-color: #D2DCE5;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {

  width: 70%;
  height: 100%;
  margin: 0 auto;
  background-color: #FFF;
  color:#000;
  border: solid 1px black;
  padding:0;
}

#in{
  padding: 70px 70px 70px 20px;
  height: 100%;

}

#top{
  position:absolute;
  width: 69.25%;
  height:60px;
  color: #FFF;
  margin-left:0px;
  margin-top:0;
  background-color: #006E00;
}

#flash_notice, #flash_error, #flash_alert {
  width: 400px;
  padding: 5px 8px;
  margin: 10px 0;
}

#down{
  height:25px;
  color: #FFF;
  float:bottom;
  padding: 3px;
  background-color: #006E00;
}


#flash_notice {
  background-color: #f0f0f0;
  border: solid 1px #4b7399;
}

#flash_error, #flash_alert {
  background-color: #f0f0f0;
  border: solid 1px #4b7399;;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #4b7399;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #4b7399;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

#lateral{
  width:30%;
  border-right:1px solid #000;
  padding:8px;
  margin-right: 10px;
  float:left;
}

#conteudo{
  width:105%;
  padding:8px;
  border-top: 1px solid #000;
  float: absolut;
}

#home{
  height:500px;
  border-right:1px solid #999;
  padding:8px;
  margin-right: 10px;
}

#login{
  padding: 20px;
  margin-left: 10px;
  font-size:20px;
}

#login li{
  margin-left: 25px;
  list-style: none;
}

#login li a {
text-decoration:underline;
list-style: underline;
color: #0000CD;
}
#login li a:visited {
color: #0000CD;
}
#login li a:hover { 
color: #0000CD; 
list-style: none;
text-decoration:none;
}
#login li a:active { 
background: #CCC;
color: #000; 
}

#logout {
  
  margin-left: 52%;

}

#logout a{
  padding: 15px;
  text-decoration:none;
  list-style: none;
  height: 60px;
  color: #CCCCCC;
  background: #004400;
}

#logout a:hover{
  padding: 15px;
  text-decoration:underline;
  list-style: none;
  height: 60px;
  color: #FFFFFF;
  background: #005500;
}

#log {
  margin-left: 84%;

}

#log a{
  padding: 15px;
  text-decoration:none;
  list-style: none;
  height: 60px;
  color: #CCCCCC;
  background: #004400;
}

#log a:hover{
  padding: 15px;
  text-decoration:underline;
  list-style: none;
  height: 60px;
  color: #FFFFFF;
  background: #005500;
}

#imagem {
  margin-left: 20%;
}

#showprofile{
  border-right: 1px solid #000;
  width: 22%;
  padding-right: 10px;
  height:100%;
}

#showprofile img{
  border: 1px solid #CCC;
}


a {
text-decoration:underline;
list-style: underline;
color: #0000CD;
}
a:visited {
color: #0000CD;
}
a:hover { 
color: #0000CD; 
list-style: none;
text-decoration:none;
}
a:active { 
color: #000; 
}