body {
  background-color: #D2DCE5;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {

  width: 70%;
  height: 100%;
  margin: 0 auto;
  background-color: #FFF;
  text-color:#000;
  border: solid 1px black;
  padding:0;
}

#in{
  padding: 70px 70px 70px 20px;
  height: 100%;

}

#top{
  position:absolute;
  width: 69.25%;
  height:60px;
  color: #FFF;
  margin-left:0px;
  margin-top:0;
  background-color: #006E00;
}

#flash_notice, #flash_error, #flash_alert {
  width: 400px;
  padding: 5px 8px;
  margin: 10px 0;
}

#down{
  height:25px;
  color: #FFF;
  float:bottom;
  padding: 3px;
  background-color: #006E00;
}


#flash_notice {
  background-color: #f0f0f0;
  border: solid 1px #4b7399;
}

#flash_error, #flash_alert {
  background-color: #f0f0f0;
  border: solid 1px #4b7399;;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #4b7399;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #4b7399;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

#lateral{
  width:30%;
  border-right:1px solid #000;
  padding:8px;
  margin-right: 10px;
  float:left;
}

#conteudo{
  width:105%;
  padding:8px;
  border-top: 1px solid #000;
  float: absolut;
}
